{% extends "base.html.j2" %}

{% block body %}
    <div class="topnav">
        <h1>Swim Split Calculator</h1>    
    </div>
    <form action="/calc" method="get">
        <button type="submit" class="startb" name="action" value="yards" formaction="/calcyards">Yards</button>
        <button type="submit" class="startb" name="action" value="meters" formaction="/calcmeters">Meters</button>
    </form>
{% endblock %}